* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v120_3 {
  width: 100%;
  height: 938px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v120_4 {
  width: 100%;
  height: 67px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v120_5 {
  width: 100%;
  height: 347px;
  background: rgba(56,142,142,1);
  opacity: 1;
  position: absolute;
  top: 67px;
  left: 0px;
  overflow: hidden;
}
.v120_7 {
  width: 111px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 23px;
  left: 349px;
  font-family: Lato;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v120_8 {
  width: 107px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 23px;
  left: 48px;
  font-family: Lato;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v120_9 {
  width: 140px;
  height: 44px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 18px;
  left: 169px;
  border: 1px solid rgba(56,142,142,1);
  border-top-left-radius: 45px;
  border-top-right-radius: 45px;
  border-bottom-left-radius: 45px;
  border-bottom-right-radius: 45px;
  overflow: hidden;
}
.v120_10 {
  width: 119px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 23px;
  left: 159px;
  font-family: Amatic SC;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v120_11 {
  width: 542px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 83px;
  left: 269px;
  font-family: Lato;
  font-weight: Bold;
  font-size: 72px;
  opacity: 1;
  text-align: center;
}
.v120_12 {
  width: 460px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 255px;
  left: 310px;
  font-family: Lato;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: center;
}
.v120_13 {
  width: 332px;
  height: 64px;
  background: rgba(255,210,180,1);
  opacity: 1;
  position: absolute;
  top: 333px;
  left: 354px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  overflow: hidden;
}
.v120_14 {
  width: 297px;
  color: rgba(0,77,77,1);
  position: absolute;
  top: 350px;
  left: 337px;
  font-family: Lato;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v120_15 {
  width: 200px;
  height: 200px;
  background: url("../images/v120_15.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 469px;
  left: 69px;
  overflow: hidden;
}
.v120_16 {
  width: 348px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 500px;
  left: 226px;
  font-family: Lato;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v120_17 {
  width: 249px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 569px;
  left: 276px;
  font-family: Lato;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v120_18 {
  width: 119px;
  height: 145px;
  background: url("../images/v120_18.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 497px;
  left: 100px;
  overflow: hidden;
}
.v120_19 {
  width: 226px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 500px;
  left: 42px;
  font-family: Lato;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v120_20 {
  width: 251px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 569px;
  left: 29px;
  font-family: Lato;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v120_21 {
  width: 100%;
  height: 112px;
  background: rgba(56,142,142,1);
  opacity: 1;
  position: absolute;
  top: 826px;
  left: 0px;
  overflow: hidden;
}
.v120_22 {
  width: 166px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 872px;
  left: 271px;
  font-family: Lato;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v143_2 {
  width: 194px;
  height: 56px;
  background: url("../images/v143_2.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 39px;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v120_36 {
  width: 100%;
  height: 938px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v120_37 {
  width: 100%;
  height: 67px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(0,0,0,0.20000000298023224);
  overflow: hidden;
}
.v120_39 {
  width: 100%;
  height: 610px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 67px;
  left: 0px;
  overflow: hidden;
}
.v120_40 {
  width: 686px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 136px;
  left: 393px;
  font-family: Lato;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v120_41 {
  width: 371px;
  height: 747px;
  background: rgba(224,224,224,1);
  opacity: 1;
  position: absolute;
  top: 133px;
  left: 22px;
  overflow: hidden;
}
.v120_42 {
  width: 272px;
  height: 242px;
  background: url("../images/v120_42.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 150px;
  left: 71px;
  overflow: hidden;
}
.v120_43 {
  width: 354px;
  height: 216px;
  background: url("../images/v120_43.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 469px;
  left: 30px;
  overflow: hidden;
}
.v120_44 {
  width: 164px;
  color: rgba(20,106,255,1);
  position: absolute;
  top: 715px;
  left: 125px;
  font-family: Lato;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v120_45 {
  width: 148px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 411px;
  left: 133px;
  font-family: Lato;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v120_46 {
  width: 592px;
  color: rgba(169,169,169,1);
  position: absolute;
  top: 186px;
  left: 440px;
  font-family: Lato;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v120_47 {
  width: 343px;
  height: 50px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 232px;
  left: 514px;
  border: 1px solid rgba(20,106,255,1);
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  overflow: hidden;
}
.v120_48 {
  width: 298px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 240px;
  left: 461px;
  font-family: Lato;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v120_49 {
  width: 42px;
  height: 38px;
  background: url("../images/v120_49.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 238px;
  left: 482px;
  overflow: hidden;
}
.v120_50 {
  width: 519px;
  height: 1px;
  background: url("../images/v120_50.png");
  opacity: 1;
  position: absolute;
  top: 351px;
  left: 482px;
  border: 1px solid rgba(169,169,169,1);
}
.v120_51 {
  width: 99px;
  color: rgba(169,169,169,1);
  position: absolute;
  top: 333px;
  left: 392px;
  font-family: Lato;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v120_52 {
  width: 146px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 374px;
  left: 466px;
  font-family: Lato;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v120_53 {
  width: 146px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 375px;
  left: 328px;
  font-family: Lato;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v120_54 {
  width: 147px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 496px;
  left: 466px;
  font-family: Lato;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v120_55 {
  width: 121px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 617px;
  left: 479px;
  font-family: Lato;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v120_56 {
  width: 250px;
  height: 63px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 411px;
  left: 414px;
  border: 1px solid rgba(0,0,0,0.20000000298023224);
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  overflow: hidden;
}
.v120_57 {
  width: 561px;
  height: 64px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 533px;
  left: 415px;
  border: 1px solid rgba(0,0,0,0.20000000298023224);
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  overflow: hidden;
}
.v120_58 {
  width: 561px;
  height: 64px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 660px;
  left: 415px;
  border: 1px solid rgba(0,0,0,0.20000000298023224);
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  overflow: hidden;
}
.v120_59 {
  width: 561px;
  height: 64px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 791px;
  left: 415px;
  border: 1px solid rgba(0,0,0,0.20000000298023224);
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  overflow: hidden;
}
.v120_60 {
  width: 250px;
  height: 63px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 411px;
  left: 352px;
  border: 1px solid rgba(0,0,0,0.20000000298023224);
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  overflow: hidden;
}
.v120_61 {
  width: 137px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 744px;
  left: 471px;
  font-family: Lato;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v145_1 {
  width: 194px;
  height: 56px;
  background: url("../images/v145_1.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 443px;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v122_3 {
  width: 100%;
  height: 1080px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v122_6 {
  width: 100%;
  height: 610px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 67px;
  left: 0px;
  overflow: hidden;
}
.v122_7 {
  width: 371px;
  height: 912px;
  background: rgba(224,224,224,1);
  opacity: 1;
  position: absolute;
  top: 88px;
  left: 22px;
  overflow: hidden;
}
.v122_8 {
  width: 371px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 106px;
  left: 22px;
  font-family: Lato;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v122_9 {
  width: 350px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 271px;
  left: 32px;
  font-family: Lato;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v122_10 {
  width: 30px;
  height: 30px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 252px;
  left: 444px;
  border: 1px solid rgba(0,0,0,1);
  overflow: hidden;
}
.v122_11 {
  width: 30px;
  height: 30px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 151px;
  left: 444px;
  border: 1px solid rgba(0,0,0,1);
  overflow: hidden;
}
.v122_12 {
  width: 30px;
  height: 30px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 353px;
  left: 444px;
  border: 1px solid rgba(0,0,0,1);
  overflow: hidden;
}
.v122_13 {
  width: 30px;
  height: 30px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 454px;
  left: 444px;
  border: 1px solid rgba(0,0,0,1);
  overflow: hidden;
}
.v122_14 {
  width: 30px;
  height: 30px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 555px;
  left: 444px;
  border: 1px solid rgba(0,0,0,1);
  overflow: hidden;
}
.v122_15 {
  width: 30px;
  height: 30px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 656px;
  left: 444px;
  border: 1px solid rgba(0,0,0,1);
  overflow: hidden;
}
.v122_16 {
  width: 30px;
  height: 30px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 757px;
  left: 444px;
  border: 1px solid rgba(0,0,0,1);
  overflow: hidden;
}
.v122_17 {
  width: 30px;
  height: 32px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 858px;
  left: 444px;
  border: 1px solid rgba(0,0,0,1);
  overflow: hidden;
}
.v122_18 {
  width: 452px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 139px;
  left: 515px;
  font-family: Lato;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v122_19 {
  width: 452px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 230px;
  left: 515px;
  font-family: Lato;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v122_20 {
  width: 452px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 335px;
  left: 515px;
  font-family: Lato;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v122_21 {
  width: 452px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 440px;
  left: 515px;
  font-family: Lato;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v122_22 {
  width: 452px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 544px;
  left: 515px;
  font-family: Lato;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v122_23 {
  width: 452px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 649px;
  left: 515px;
  font-family: Lato;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v122_24 {
  width: 452px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 754px;
  left: 515px;
  font-family: Lato;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v122_25 {
  width: 452px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 859px;
  left: 515px;
  font-family: Lato;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
