{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie-edge">
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC&display=swap" rel="stylesheet" />
    <link href="{% static './css/main.css' %}" rel="stylesheet" />
    <link href="{% static './css/main.css' %}" rel="stylesheet" />
    <link href="{% static './css/main.css' %}" rel="stylesheet" />
    <title>DivForm</title>
</head>
<body>
<div class="v120_4"></div>
<span class="v120_7" style="margin-left: 500px;">Servicios</span>
{% if user.is_authenticated %}
    <input type="text" style="margin-left: 300px;">
    <input type="submit" value="Search">
    <a href=""><span class="v120_8" style="margin-left: 1250px;margin-top: -10px;">Hello, gamer</span></a>
    <div class="v120_9" style="margin-left: 1250px;"></div>
    <a href="{% url 'logout' %}"><span class="v120_10" style="margin-left: 1268px;">Logout</span></a>
    <a href="/"><div class="v143_2"></div></a>
{% else %}
    <a href="{% url 'login' %}"><span class="v120_8" style="margin-left: 1250px;">Login</span></a>
    <div class="v120_9" style="margin-left: 1250px;"></div>
    <a href="{% url 'registerLawyer' %}"><span class="v120_10" style="margin-left: 1268px;">Register</span></a>
{% endif %}
<a href="/"><div class="v143_2"></div></a>
{% block content %}



{% endblock %}

</body>
</html>