{% extends 'base.html' %}
{% load static %}


{% block content %}

<!DOCTYPE html>
<html>
   <head>
      <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet" />
      <link href="{% static './css/main.css' %}" rel="stylesheet" />

   </head>
   <body>
      <div class="v122_3">
         <div class="v122_6"></div>
         <div class="v122_7"></div>
         <span class="v122_8">Requisitos para proceder con su divorcio</span><span class="v122_9">*De no cumplir con alguno, no podemos proceder con el mismo, favor de contactar alguno de nuestros abogados para mas informacion.
         1. Residencia: Las partes tienen que haber vivido durante el a~o previo a solicitar el divorcio, excepto que la causa del divorcio se cometa en Puerto Rico o cuando una de las partes residia aqui.
         2. Certificado de matrimonio: Debe ser original, aunque se hayan casado afuera de Puerto Rico.
         3. Capitulaciones: De haberlas.
         4. Certificado de nacimiento: De los hijos e hijas menores de edad comunes de ambas partes.
         5. Estipulaciones: En el caso del divorcio por consentimiento mutuo, se requirira que las partes sometan acuerdos sobre la separacion de sus bienes, asi como sobre la patria potestad, custodia, relaciones filiales y pension alimentaria de los hijos o hijas en comun. </span>
         <div class="v122_10"></div>
         <div class="v122_11"></div>
         <div class="v122_12"></div>
         <div class="v122_13"></div>
         <div class="v122_14"></div>
         <div class="v122_15"></div>
         <div class="v122_16"></div>
         <div class="v122_17"></div>
         <span class="v122_18">Residente de Puerto Rico un ano antes de presentar la peticion.</span><span class="v122_19">Certificado de matrimonio</span><span class="v122_20">Copia de Escritura Publica si se realizaron capitulaciones matrimoniales</span><span class="v122_21">Acuerdo por jurado por ambos conyuges sobre los hijos menores de edad (Padre Potestad, Custodia, Relaciones Filiales, Alimentos)</span><span class="v122_22">Acuerdo jurado por ambos conyuges sobre las necesidades economicas de cadea conyuge.</span><span class="v122_23">Acuerdo jurado pro ambos conyuges sobre el modo en que ha adjudicarse la Sociedad Legal de Gananciales</span><span class="v122_24">Inventario y avaluo de activos y pasivos (Bienes y deudas) </span><span class="v122_25">Emplazamiento</span>
      </div>
   </body>
</html>

{% endblock %}
