{% extends "base.html" %}
{% load static %}

<html lang="en">
          <head>
            <meta charset="utf-8">

            <title>Html Generated</title>
            <meta name="description" content="Figma htmlGenerator">
            <meta name="author" content="htmlGenerator">
            <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Amatic+SC&display=swap" rel="stylesheet">

            <link rel="stylesheet" href="{% static styles.css %}">

            <style>
              /*
                Figma Background for illustrative/preview purposes only.
                You can remove this style tag with no consequence
              */
              body {background: #E5E5E5; }
            </style>

          </head>

          <body>
            <div class=e120_3><div  class="e120_4"></div><div  class="e120_5"></div><span  class="e120_7">Servicios</span><span  class="e120_8">Login</span><div  class="e120_9"></div><span  class="e120_10">Register</span><span  class="e120_11">Haz tu divorcio rapido</span><span  class="e120_12">Mantente al tanto</span><div  class="e120_13"></div><span  class="e120_14">Registrate de GRATIS!</span><div  class="e120_15"></div><span  class="e120_16">Verifica tu tipo de divorcio al instante</span><span  class="e120_17">Completa una encuesta facil y rapida para acelerar tu proceso. Esta encuesta te dira como se debe llevar acabo tu divorcio,</span><div  class="e120_18"></div><span  class="e120_19">Tendras updates en tiempo real</span><span  class="e120_20">Entra a tu perfil para que veas cuanto tiempo falta para completar tu divorcio</span><div  class="e120_21"></div><span  class="e120_22">Contact info.</span><div  class="e143_2"></div></div>
          </body>
          </html>