{% extends 'base.html' %}
{% load static %}
{% block content %}
      <div class="v120_3">
         <div class="v120_5"></div>
         <span class="v120_11" style="margin-left: 380px;">Haz tu divorcio rapido</span><span class="v120_12" style="margin-left: 380px;">Mantente al tanto</span>
         <div class="v120_13" style="margin-left: 400px;"></div>
         <span class="v120_14" style="margin-left: 425px;">Registrate de GRATIS!</span>
         <div class="v120_15" style="margin-left: 100px;"></div>
         <span class="v120_16" style="margin-left: 100px;">Verifica tu tipo de divorcio al instante</span><span class="v120_17" style="margin-left: 100px;">Completa una encuesta facil y rapida para acelerar tu proceso. Esta encuesta te dira como se debe llevar acabo tu divorcio,</span>
         <div class="v120_18" style="margin-left: 1000px;"></div>
         <span class="v120_19" style="margin-left: 1200px;">Tendras updates en tiempo real</span><span class="v120_20" style="margin-left: 1200px;">Entra a tu perfil para que veas cuanto tiempo falta para completar tu divorcio</span>
         <div class="v120_21"></div>
         <span class="v120_22">Contact info.</span>
      </div>
{% endblock %}